h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: orange;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;  
}
h3{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
   
}
.Tanvir{
color: orange;
}
img{
    height: 100%;
    width: 100%;
}
section{
    display: ;
    padding-left: 3%;
}